@use 'css/reset';

@use 'partials/base' as *;
@use 'partials/components';

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  // grid-auto-rows: minmax(60px, auto);
  grid-template-areas:
    "header header"
    "title title"
    "title-p title-p"
    "advantages advantages"
    "optimize flexible"
    "optimize deliver"
    "data-model data-model"
    "data-model-p data-model-p"
    "features features"
    "companies prerequisite"
    "getup learnmore"
    "footer footer";
  justify-items: center;
}

.header {
  grid-area: header;
}
.title {
  grid-area: title;
}
.title-p {
  grid-area: title-p;
}
.advantages {
  grid-area: advantages;
}
.optimize {
  grid-area: optimize;
}
.flexible {
  grid-area: flexible;
}
.deliver {
  grid-area: deliver;
}
.data-model {
  grid-area: data-model;
}
.data-model-p {
  grid-area: data-model-p;
}
.features {
  grid-area: features;
}
.companies {
  grid-area: companies;
}
.prerequisite {
  grid-area: prerequisite;
}
.getup {
  grid-area: getup;
}
.learnmore {
  grid-area: learnmore;
}
.footer {
  grid-area: footer;
}
