@use 'css/reset';

@use 'partials/base' as *;
@use 'partials/components';

.container {
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px; // suit your need
    background: black; // suit your need
    left: 10%;
  }
}

.element {
  padding: 80px 0;
}
