@use 'css/reset';

@use 'partials/base' as *;
@use 'partials/components';

.container {
  &::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px; // suit your need
    background: black; // suit your need
    left: 10%;
  }
}

.element {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}
