@forward 'form';
//section1-->bg tagline1&2
.section-main {
  .section_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 3vw;
  }

  #subs-btn {
    position: relative;
    font-size: 2vw;
    text-transform: uppercase;
    padding: 1vw;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #fff;
    border: 0;
  }

  .section_bottom {
    position: relative;
    text-align: center;
  }

  #bg {
    width: 100%;
    opacity: 0.8;
  }

  h1#tagline1 {
    position: absolute;
    left: 12%;
    top: 25vh;
    font-size: 5vw;
  }
  h2#tagline2 {
    position: absolute;
    left: 12%;
    top: 60vh;
    font-size: 2.7vw;
  }
}
//section2-->img-1,h1 & p

//section3-->img-2,h1 & p
//section4-->img-3,h1 & p
.section1,
.section2,
.section3 {
  display: grid;
  grid-template-areas: "image text";
  img {
    grid-area: image;
    width: 40vw;
  }
  .textContainer {
    grid-area: text;
    padding-left: 2vw;
  }
  h1 {
    font-size: 3.5vw;
  }
  p {
    padding-top: 1vw;
    font-size: 2vw;
  }
}
//alternate
.section2 {
  grid-template-areas: "text image";
  img {
    padding-left: 2vw;
    grid-area: image;
    width: 40vw;
  }
  .textContainer {
    grid-area: text;
    padding-left: 0;
  }

  p {
    padding-top: 1vw;
  }
}

@media screen and (max-device-width: 500px) and (orientation: portrait) {
  .section-main {
    h1#tagline1 {
      position: absolute;
      top: 24vw;
      left: 15vw;
      font-size: 4vw;
    }
    h2#tagline2 {
      position: absolute;
      top: 37vw;
      left: 15vw;
      font-size: 3.4vw;
    }

    h3 {
      position: absolute;
      left: 15vw;
      top: 55vw;
      font-size: 2.2vw;
    }
    button#subs-btn {
      font-size: 2.2vw;
      position: absolute;
      top: 55vw;
      left: 69vw;
      text-transform: uppercase;
      float: right;
      padding: 0.3vw;
      letter-spacing: 0.1em;
      background: #1ab188;
      color: #fff;
      transition: 0.5s;
    }
  }
  .section1,
  .section2,
  .section3 {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "image"
      "text";
    img {
      padding-left: 2vw;

      width: 80vw;
    }
  }
}
