.element {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image form";
  grid-gap: inherit;
}
#form-img {
  grid-area: image;
  width: 40vw;
  opacity: 0.4;
}
form {
  grid-area: form;
  display: grid;
  line-height: 1rem;
  .agreed {
    display: grid;
    grid-column: 1fr 3fr;
  }
}
