@use 'vars' as *;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin simple-link {
  a:link,
  a:hover,
  a:visited,
  a:active {
    font-weight: bolder;
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@mixin asset-topic-title {
  h2 {
    font-family: BoldFont;
    font-size: 2.2em;
  }
  p {
    margin-top: 2vw;
    padding: 1vw;
    font-size: 1.5em;
  }
}

@mixin asset-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0;
  justify-items: center;
  align-items: center;

  h2 {
    font-family: BoldFont;
    font-size: 2.5em;
  }

  ul li {
    margin: 20px 0;
    font-size: 1.5em;
  }
}
